* {
	margin: 0;
	padding: 0;
}

body {
	font-family: iranyekan !important;
	direction: ltr;
}
html{
	--first-color: #bbb;	
	--second-color: green;
	--third-color: black;
}
.social {
	width: 3rem;
	height: 100%;
	position: fixed;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0.5rem;


}

.social-list {
	list-style: none;
}

.social-list li {
	font-size: 2rem;
}

.social-item{
	color:var(--first-color);
}
.social-item:hover{
	color: var(--second-color);
	transition:color 0.5s;
}
.home{
	display: flex;
	height: 100vh;
	justify-content: space-between;
	align-items: center;
	padding: 0 15rem;

}
.profile-img{
	max-width: 400px;
	border-radius: 30% 70% 60% 40%;
}
.home h1{
	font-family:'Times New Roman', Times, serif!important;
	font-size: 3rem;
	line-height: 1.7;
}
.name{
	color: var(--second-color);
	position: relative;
}
.name::after{
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: 0%;
	background-color: var(--second-color);
	animation: name-cover 1s;
}
@keyframes name-cover{
	0%{
		width: 0;
	}
	50%{
		width: 100%;
		left: 0%;
	}
	100%{
		width:0% ;
		left: 100%;
	}
}
.navbar{
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	height: 4rem;
	background-color: white;

}
.navbar-list{
	display: flex;
	justify-content: center;
}
.navbar-list ul{
	display: flex;
	list-style: none;
}
.navbar-list a{
	text-decoration: none;
	font-family:'Times New Roman', Times, serif!important;
	color: var(--third-color);
	font-size: 1.5rem;
	padding:0 0.6rem ;
	margin:0 0.6rem ;
}
.navbar-list a:hover{
	color: var(--second-color);
	transition:color 0.5s;
}
section{
	width: 60%;
	height: 100vh;
	padding: 0 20%;
	display: flex;
	flex-direction: column;

}
.title1{
	font-size: 2rem;
	color: var(--second-color);
	border-bottom: 2px solid var(--second-color);

}
.about-container{
	display: flex;
	align-items: center;
	flex-grow: 1;

}
.about-img img{
	width: 400px;
}
.about-text, .title2{
	line-height: 1.8;
	margin-right: 6rem;

}
.title2{
	margin-bottom:1rem;
}
.skills-container{
	display: flex;
	align-items: center;
	flex-grow: 1;

}
.skills-img img{
	width: 400px;
}
.skills-body{
	margin-left: 6rem;
}
.skill-info{
	display: flex;
	box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
	border-radius:0.8rem, 0.8rem, 0.2rem, 0.2rem ;
	justify-content: space-between;
	padding:0.5rem, 1rem ;
	align-items: center;
	position: relative;
	margin-top: 1rem;
}
.skill-logo{
	color: var(--second-color);
	font-size: 2rem;
	
}
.skill-name-logo{
	display: flex;
	align-items: center;
}
.skill-name-logo *{
padding-left: 0.5rem;
margin-bottom: 1rem;
}
.skill-bar{
	position: absolute;
	background-color: var(--second-color);
	height: 0.25rem;
	left: 0;
	bottom: 0;
	
}
.css{
	width: 80%;
}
.html{
	width: 85%;
}
.Bootstrap{
	width: 70%;
}
.js{
	width: 70%;
}
.py{
	width: 60%;
}
.dj{
	width: 60%;
}
.git{
	width: 90%;
}

.project-container{
	display: flex;
	align-items: center;
	flex-grow: 1;

}
.imgs-container{
	display: grid;
	grid-gap: 2rem;
	grid-template-columns: 1fr 1fr  ;
	grid-template-rows: 1fr 1fr 1fr ;
	direction: rtl;
	padding: 1rem;
}
.project-img{
	width: 100%;
	height: 100%;
	vertical-align: middle;
}
.imgs-wraper{
	overflow: hidden;
}
.project-img:hover{
	transform: scale(1.4);
	transition: all 1s;

}
.contact-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}
.contact-form{
	display: flex;
	flex-direction: column;
}
.contact-form *{
	border: 2px solid var(--second-color);
	border-radius: 0.5rem;
	font-size: 1.4rem;
	padding: 0.3rem;
	margin: 0.3rem;
}
.button {
	display: inline-block;
	background-color: var(--second-color);
	color: #fff;
	font-family: Shabnam;
	font-size: 1rem;
	border-radius: 0.5rem;
	padding: 0.5rem 1.2rem;
	text-decoration: none;
  }
  .button:hover {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  }
  .button:active {
	transform: translate(0.2rem, 0.2rem);
  }
  
